<div class="row" id="{{rowLevel}}-row">
    <div class="{{rowLabelClass}}"><label>{{rowLevel}}</label></div>
    <div>
        {{{zipIcons}}}
    </div>
    <div>
        {{{dipIcons}}}
    </div>
    <div>
        {{{potatoChipIcons}}}
    </div>
    <div>
        {{{miracleWhipIcons}}}
    </div>
</div>